.title {
  margin: 50px;
  text-align: center;
}

.generatorForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;

  .generate {
    margin-top: 15px !important;
  }
}

.iframe {
  margin-top: 40px;
  text-align: center;
}
