.title {
  margin: 50px;
  text-align: center;
}

.generatorForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;

  .generate {
    margin-top: 15px !important;
  }
}

.generatedContent {
  margin: 40px auto;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.buttonLabel {
  margin: 0 auto;
  font-size: 10px;
}

.copyButton {
  border: none;
  background-color: white;
}

.iframe {
  text-align: center;
}
